@model HospitalProject_Group3.Models.MedicationDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<br/>
<h2>Are you sure you want to delete @Model.MedicationBrand  - @Model.MedicationName?</h2>

<p>This action cannot be undone.</p>

<nav>
    <a class="navlink" href="/Medication/Details/@Model.MedicationID">Cancel</a>
</nav>

<form method="POST" action="/Medication/Delete/@Model.MedicationID">

    <button class="delbutton">
        Confirm Delete
    </button>

</form>
