@*@model IEnumerable<HospitalProject_Group3.Models.DepartmentDto>*@
@{
    ViewBag.Title = "New";
}


<h2>Add a New Department</h2>

<form action="/Department/Create" method="POST">
    <div>
        <label>Department Name:</label> <input type="text" name="DepartmentName" />
    </div>

    <!-- Add option to input types and number of Roles to be within new Department -->
    <!-- Add option to input number of Rooms to be within new Department -->

    <div>
        <input type="submit" value="Add Department" />

    </div>
</form>