@model IEnumerable<HospitalProject_Group3.Models.RoleDto>
@{
    ViewBag.Title = "List";
}

<h2>List of Roles</h2>

<div>
    <a class="navlink" href="/Role/New">Add a New Role</a>
</div>


<div id="containerlist">
    @foreach (var role in Model)
    {
        <h2><a href="/Role/Details/@role.RoleID"> @role.RoleType</a></h2>

    }
</div>
