@{
    ViewBag.Title = "Home Page";
}


<div class="row" style="padding-top: 3em;">
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Staffs</h2>
        @*image token from: https://www.pngegg.com/en/png-dkdzv*@
        <img src="/Content/Images/staff.png" width="200" alt="staff" />
        <p><a class="btn btn-default" href="/Staff/List">Staffs List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Patients</h2>
        @*image token from: https://www.pngegg.com/en/png-bxsiw*@
        <img src="/Content/Images/patient.png" width="200" alt="patient" />
        <p><a class="btn btn-default" href="/Patient/List">Patients List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Medications</h2>
        @*image token from: https://www.pngegg.com/en/png-ejwjm*@
        <img src="/Content/Images/medication.png" width="200" alt="medication" />
        <p><a class="btn btn-default" href="/Medication/List">Medications List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Appointments</h2>
        @*image token from: https://www.pngegg.com/en/png-zythz*@
        <img src="/Content/Images/appointment.png" width="200" alt="appointment" />
        <p><a class="btn btn-default" href="/Appointment/List">Appointments List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Bills</h2>
        @*image token from: https://www.pngegg.com/en/png-havfj*@
        <img src="/Content/Images/bill.png" width="200" alt="bill" />
        <p><a class="btn btn-default" href="/Bill/List">Bills List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Departments</h2>
        @*image token from: https://www.pngegg.com/en/png-shsft*@
        <img src="/Content/Images/department.png" width="200" alt="department" />
        <p><a class="btn btn-default" href="/Department/List">Departments List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Donor Transplants</h2>
        @*image token from: https://www.pngegg.com/en/png-byemw*@
        <img src="/Content/Images/donor_transplant.png" width="200" alt="donor transplant" />
        <p><a class="btn btn-default" href="/DonorTransplant/List">Donor Transplants List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Insurances</h2>
        @*image token from: https://www.pngegg.com/en/png-wwqge*@
        <img src="/Content/Images/insurance.png" width="200" alt="insurance" />
        <p><a class="btn btn-default" href="/Insurance/List">Insurances List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Medical Records</h2>
        @*image token from: https://www.pngegg.com/en/png-zwueh*@
        <img src="/Content/Images/medical_record.png" width="200" alt="medical record" />
        <p><a class="btn btn-default" href="/MedicalRecord/List">Medical Record List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Prescriptions</h2>
        @*image token from: https://www.pngegg.com/en/png-nkxye*@
        <img src="/Content/Images/prescription.png" width="200" alt="prescription" />
        <p><a class="btn btn-default" href="/Prescription/List">Prescriptions List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Roles</h2>
        @*image token from: https://www.pngegg.com/en/png-iblws*@
        <img src="/Content/Images/role.png" width="200" alt="role" />
        <p><a class="btn btn-default" href="/Role/List">Roles List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Shifts</h2>
        @*image token from: https://www.pngegg.com/en/png-dtbbo*@
        <img src="/Content/Images/shift.png" width="200" alt="shift" />
        <p><a class="btn btn-default" href="/Shift/List">Shifts List &raquo;</a></p>
    </div>
</div>