@model IEnumerable<HospitalProject_Group3.Models.InsuranceDto>
@{
    ViewBag.Title = "List";
}

<h2>List of Insurance</h2>

<div>
    <a class="navlink" href="/Insurance/New">Add a New Insurance</a>
</div>


<div id="containerlist">
    @foreach (var Insurance in Model)
    {
        <h2><a href="/Insurance/Details/@Insurance.InsuranceID"> @Insurance.InsuranceCompany</a></h2>
        <p>Plan: @Insurance.InsurancePlan</p>

    }
</div>

