
@{
    ViewBag.Title = "New";
}

<h2>Add New Bill</h2>
<form action="/Bill/Create" method="POST">
    <div>
        <label>Patient ID:</label> <input type="text" name="PatientID" />
    </div>
    <div>
        <label>Bill Detail:</label> <input type="text" name="BillDetail" />
    </div>
    <div>
        <label>Total Cost:</label> <input type="text" name="TotalCost" />
    </div>
    <div>
        <input type="submit" value="Add Bill" />

    </div>
</form>
