@model HospitalProject_Group3.Models.BillDto


@{
    ViewBag.Title = "View";
}

<div>
    <a href="/Bill/List">Go back to list</a>
</div>
<div>
    <a href="/Bill/DeleteConfirm/@Model.BillID">Delete This Bill</a>
</div>
<div>
    <a href="/Bill/Edit/@Model.BillID">Update This Bill</a>
</div>

<h2>@Model.PatientFName @Model.PatientLName</h2>
<div>Bill Detail: @Model.BillDetail</div>
<div>Total Cost: @Model.TotalCost</div>
